body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  width: 1128px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: center;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  background-color: #4e75ff;
  color: #ffffff;
  border-radius: 8px;
  margin: 10px;
  text-decoration: none;
}

.timer {
  display: flex;
  gap: 12px;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50px;
}

.value {
  font-size: 36px;
}

.imput-container {
  margin-top: 20px;
  margin-left: 10px;
}

.start-button {
  background-color: #4e75ff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 60px;
  height: 30px;
  cursor: pointer;
}

.start-button:disabled {
  background-color: gray;
}

.date-input {
  border: 2px solid #4e75ff;
  width: 200px;
  height: 24px;
  border-radius: 8px;
}

.index-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 36px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  z-index: 200;
}

.delay-input {
  margin-top: 20px;
  border: 1px solid #4e75ff;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 245px;
  height: 24px;
}

.fieldset {
  width: 300px;
  border: 1px solid #4e75ff;
  border-radius: 8px;
}

.submit-button {
  width: 100px;
  color: #ffffff;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}
